# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Rust
target/
**/*.rs.bk
*.pdb
Cargo.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
*.log
.env
.env.local

#folders
sdk/javascript/node_modules
frontend/governance/node_modules
node_modules



package-lock.json

GITHUB_PUSH_GUIDE.md

